<mat-card>
  <mat-card-content>
    <div class="teams-container">
      <div class="team">
        <h3 class="text-accent">First Team</h3>
        <div class="player-container">
          <button
            *ngFor="let player of firstTeamPlayers$ | async"
            mat-stroked-button
            (click)="removePlayer(player)"
          >
            <div class="content">
              <span>{{ player.name }}</span>
              <span class="text-accent">{{ getElo(player) }}</span>
            </div>
          </button>
        </div>
      </div>
      <div class="team">
        <h3 class="text-accent">Second Team</h3>
        <div class="player-container">
          <button
            *ngFor="let player of secondTeamPlayers$ | async"
            mat-stroked-button
            (click)="removePlayer(player)"
          >
            <div class="content">
              <span>{{ player.name }}</span>
              <span class="text-accent">{{ getElo(player) }}</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field appearance="outline">
      <mat-label>Selected Game</mat-label>
      <mat-select (selectionChange)="handleBaseGameChange($event)">
        <mat-option
          *ngFor="let baseGame of baseGames$ | async"
          [value]="baseGame.id"
        >
          {{ baseGame.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-stroked-button
      color="primary"
      [disabled]="!(canShuffle$ | async)"
      (click)="generateTeams()"
    >
      Generate Teams
    </button>
  </mat-card-actions>
</mat-card>
