mat-card {
  mat-card-header {
    .header {
      width: 100%;
      text-align: center;
    }
  }
  mat-card-content {
    .teams-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .team {
        padding: 20px;

        .player-container {
          display: flex;
          flex-direction: column;
          gap: 5px;

          button {
            width: 100%;

            .content {
              display: flex;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
  }
  mat-card-actions {
    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      gap: 20px;

      mat-chip {
        cursor: pointer;
      }
    }
  }
}
