<mat-card>
  <mat-card-content>
    <div class="teams-container">
      <div class="team">
        <div class="player-container">
          <button
            *ngFor="let player of firstTeam$ | async"
            mat-stroked-button
            (click)="removePlayer(player)"
          >
            <div class="content">
              <span>{{ player.name }}</span>
              <span class="text-accent" [appPlayerElo]="getElo$(player)">{{
                getElo$(player) | async
              }}</span>
            </div>
          </button>
        </div>
      </div>
      <div class="team">
        <div class="player-container">
          <button
            *ngFor="let player of secondTeam$ | async"
            mat-stroked-button
            (click)="removePlayer(player)"
          >
            <div class="content">
              <span>{{ player.name }}</span>
              <span class="text-accent" [appPlayerElo]="getElo$(player)">{{
                getElo$(player) | async
              }}</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <mat-chip-list>
        <mat-chip
          *ngFor="let baseGame of baseGames$ | async"
          [selected]="(selectedBaseGameId$ | async) === baseGame.id"
          (click)="handleBaseGameChange(baseGame.id)"
        >
          {{ baseGame.name }}
        </mat-chip>
      </mat-chip-list>
      <button
        mat-stroked-button
        color="primary"
        [disabled]="!(canShuffle$ | async)"
        (click)="generateTeams()"
      >
        Generate Teams
      </button>
    </div>
  </mat-card-actions>
</mat-card>
