<div class="teams-container">
  <div class="spinner-container" *ngIf="isLoading$ | async; else content">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>

  <ng-template #content>
    <div class="team" *ngIf="firstTeam$ | async as firstTeam">
      <app-player *ngFor="let player of firstTeam" [player]="player">
      </app-player>
      <div class="total" *ngIf="firstTeam.length">
        <span>{{ firstTeam.length }}/5</span><span>-</span><span>Total:</span>
        <p>{{ getPlayersEloSum$(firstTeam) | async }}</p>
      </div>
    </div>
    <div class="team" *ngIf="secondTeam$ | async as secondTeam">
      <app-player
        *ngFor="let player of secondTeam"
        [player]="player"
      ></app-player>
      <div class="total" *ngIf="secondTeam.length">
        <span>{{ secondTeam.length }}/5</span>
        <span>-</span>
        <span>Total:</span>
        <p>{{ getPlayersEloSum$(secondTeam) | async }}</p>
      </div>
    </div>
  </ng-template>
</div>

<button
  mat-raised-button
  color="primary"
  [disabled]="!(canShuffle$ | async)"
  (click)="generateTeams()"
>
  Generate Teams
</button>
