.contianer {
  height: 100vh;
  width: calc(100vw - 145.8px);
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    margin: 0;
  }

  .login-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
