.contianer {
  height: 100vh;
  width: calc(100vw - 145.8px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  .content {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
  }
}
