<mat-card>
  <div class="scrollable">
    <div class="player" *ngFor="let player of players$ | async">
      <div class="player-header">
        <span class="player-name">{{ player.name }}</span>
        <mat-icon (click)="deletePlayer(player.id)">delete</mat-icon>
      </div>
      <div class="games">
        <div
          class="game"
          *ngFor="let game of getSortedPlayerGames(player.games)"
        >
          <span>{{ game.baseGame.name }}:</span>
          <input
            type="number"
            min="0"
            max="10"
            [value]="game.elo"
            (blur)="updatePlayerGameElo(player.id, game.id, $event)"
          />
        </div>
      </div>
    </div>
  </div>
</mat-card>
