.container {
  height: 100vh;
  width: calc(100vw - 145.8px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

app-player-list,
app-add-player {
  margin-top: 30px;
}

app-player-list {
  width: 100%;
}
