mat-sidenav-container {
  width: 100vw;
  height: calc(100vh - 64px);
}

.spacer {
  margin: 0px 5px;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}
