<mat-sidenav-container>
  <mat-sidenav [mode]="(sideNavMode$ | async) ?? 'over'" [opened]="true">
    <mat-nav-list>
      <mat-slide-toggle
        [checked]="darkMode$ | async"
        (change)="handleDarkModeChange($event)"
        >Dark Mode</mat-slide-toggle
      >
      <a
        mat-list-item
        [routerLink]="[appRoutes.players]"
        [routerLinkActive]="[appRoutes.players]"
        >Manage Players</a
      >
      <a
        mat-list-item
        [routerLink]="[appRoutes.balancer]"
        [routerLinkActive]="[appRoutes.balancer]"
        >Team Balancer</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class.medium]="showSideNavButton$ | async">
    <button
      mat-icon-button
      class="menu-button"
      (click)="showMenu()"
      *ngIf="showSideNavButton$ | async"
    >
      <mat-icon color="primary">menu</mat-icon></button
    ><router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
