<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Team Balancer</span>
  <span class="spacer"></span>
  <button mat-raised-button (click)="login()">Login</button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="sideNavOpen">
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="[appRoutes.players]"
        [routerLinkActive]="[appRoutes.players]"
        >Manage Players</a
      >
      <a
        mat-list-item
        [routerLink]="[appRoutes.balancer]"
        [routerLinkActive]="[appRoutes.balancer]"
        >Team Balancer</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
