<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <mat-slide-toggle
        [checked]="darkMode$ | async"
        (change)="handleDarkModeChange($event)"
        >Dark Mode</mat-slide-toggle
      >
      <a
        mat-list-item
        [routerLink]="[appRoutes.players]"
        [routerLinkActive]="[appRoutes.players]"
        >Manage Players</a
      >
      <a
        mat-list-item
        [routerLink]="[appRoutes.balancer]"
        [routerLinkActive]="[appRoutes.balancer]"
        >Team Balancer</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
