<div class="container">
  <div class="spinner-container" *ngIf="isLoading$ | async; else content">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>

  <ng-template #content>
    <ng-container *ngIf="randomMap$ | async as map; else mapList">
      <div class="random-map">
        <span>{{ map.name }}</span>
        <img [src]="map.image" alt="map" />
      </div>
      <button mat-raised-button color="primary" (click)="resetRandomMap()">
        Go to Maplist
      </button>
    </ng-container>

    <ng-template #mapList>
      <div *ngIf="(mapList$ | async)?.length === 1; else maps">
        <div class="random-map" *ngFor="let map of mapList$ | async">
          <span>{{ map.name }}</span>
          <img [src]="map.image" alt="map" />
        </div>
      </div>
      <ng-template #maps>
        <div class="maps">
          <div
            *ngFor="let map of mapList$ | async; let i = index"
            class="map"
            (click)="toogleMap(map)"
          >
            <span>{{ map.name }}</span>
            <div class="image-container">
              <img [src]="map.image" alt="map" />
              <div class="not-selected" *ngIf="!(isSelected$(map.id) | async)">
                <span>X</span>
              </div>
            </div>
          </div>
        </div>

        <button mat-raised-button color="primary" (click)="getRandomMap()">
          Generate Random Map
        </button>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
